.marked {
    background-color: var(--danger) !important;
    /* color: var(--dark) !important; */
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
}
.dot:hover {
    cursor: pointer;
}
.dot-red {
    background-color: #ff002b;
}

.dot-green {
    background-color: #6fff00;
}